<package-def>
    <class name="КомандаУстановкаХука" file="src/cmd/Классы/КомандаУстановкаХука.os"/>
    <class name="КомандаЭкспортПравил" file="src/cmd/Классы/КомандаЭкспортПравил.os"/>
    <module name="ПараметрыПриложения" file="src/cmd/Модули/ПараметрыПриложения.os"/>
    <class name="РазборПравил" file="src/core/Классы/РазборПравил.os"/>
    <module name="ОбщегоНазначения" file="src/core/Модули/ОбщегоНазначения.os"/>
 </package-def>